<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自己写的分类页</title>
    <!-- 引入MUI框架css -->
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="./lib/fontAwesome/css/font-awesome.css">
    <!-- 引入自己写的样式 -->
    <link rel="stylesheet" href="./less/category.css">
</head>
<body>
    <!-- 头部 -->
    <header id="header">
        <div class="left">
            <a href="index.html" class="fa fa-arrow-left"></a>
        </div>
        <div class="center">
            <form action="#">
                <input type="search" placeholder="请输入搜索的商品">
            </form>
        </div>
        <div class="right">
            <a href="search.html" class="fa fa-search"></a>
        </div>
    </header>

    <!-- 中心 -->
    <main id="main">
        <section id="commList" class="mui-scroll-wrapper">  
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell active">运动鞋</li>
                </ul>
            </div>
        </section>
        <section id="commShow" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="top">
                    <a href="search.html">
                        <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/bf751612eb944c8392aacc80b0268188.jpg" alt="">
                    </a>
                    <h4>热门品牌</h4>
                </div>
                <div class="center cTop">
                    <div class="mui-row">
                        <!-- <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/c93578a724df44fea246c1ee956ac3c6.png" alt="">
                            </a>
                        </div> -->
                    </div>
                </div>
                <h4>款式</h4>
                <div class="cTop">
                    <div class="mui-row">
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/c93578a724df44fea246c1ee956ac3c6.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/e44eaa4d6f1b47d78ff943dae68389fa.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/d34694125d104451bd8b2d425e2b357e.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/4fa03ae0606045749b6f3f6e31fa4872.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/439ff8fb302247eaac0d6941c7355b28.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/c410a8f9ab3a47c79ef0f20e97354c41.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/a4795a4902b248f4b2f147fcc2bcde65.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/dfa33d8b35294fbf86a8e8769329c958.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/b9e985db938b4f35a7e96fb8ffbfcec3.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/14b18693f74f459a85c7171fbc1caa09.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/8a903d9817db4b028e8b324caa83b1b5.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002019/a3091b9c055b45c2b4fd13ad52550bc9.jpg" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/80a7eb2340c642f3aa6d38da1233461f.jpg" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/8f80e57f13e14b638c61c2af57802c51.jpg" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/d3b475ff3ae84b839a41cc14718a9c3e.png" alt="">
                            </a>
                        </div>
                        <div class="mui-col-xs-4">
                            <a href="#">
                                <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/11bbf74c15454b7eaf2e19d99464b2c5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- 底部 -->
    <footer id="footer">
        <div class="mui-row">
            <div class="mui-col-xs-3">
                <a href="./index.html" class="fa fa-home"></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="./category.html" class="fa fa-bars active"></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="#" class="fa fa-shopping-cart"></a>
            </div>
            <div class="mui-col-xs-3">
                <a href="#" class="fa fa-user"></a>
            </div>   
        </div>
    </footer>
</body>
</html>

<!-- 左边模板 -->
<script type="text/html" id="categoryLeftTpl">
    {{each list value}}
        {{if value.id==1}}
            <li class="mui-table-view-cell active" data-id= {{value.id}}>{{value.categoryName}}</li>
        {{else}}
            <li class="mui-table-view-cell" data-id= {{value.id}}>{{value.categoryName}}</li>
        {{/if}}
    {{/each}}
</script>

<!-- 右边模板 -->
<script type="text/html" id="categoryRightTpl">
    {{if list.length>0}}
        {{each list value}}
            <div class="mui-col-xs-4">
                <a href="#">
                    <img src=' {{value.brandLogo}}' alt="">
                    <p>{{value.brandName}}</p>
                </a>
            </div>
        {{/each}}
    {{else}}
        <p>啥都莫有</p>
    {{/if}}
</script>

<!-- 引入zepto -->
<script src="./lib/zepto/zepto.min.js"></script>
<!-- 引入模板引擎 ,创建模板 -->
<script src="./lib/artTemplate/template-web.js"></script>
<!-- 引入MUI框架js -->
<script src='./lib/mui/js/mui.js'></script>
<!-- 引入自己写的就是代码 -->
<script src="./js/category.js"></script>


<!-- 草稿 -->
<!-- <div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/e44eaa4d6f1b47d78ff943dae68389fa.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/d34694125d104451bd8b2d425e2b357e.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/4fa03ae0606045749b6f3f6e31fa4872.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/439ff8fb302247eaac0d6941c7355b28.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/c410a8f9ab3a47c79ef0f20e97354c41.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/a4795a4902b248f4b2f147fcc2bcde65.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002016/dfa33d8b35294fbf86a8e8769329c958.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/b9e985db938b4f35a7e96fb8ffbfcec3.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/14b18693f74f459a85c7171fbc1caa09.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/8a903d9817db4b028e8b324caa83b1b5.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002019/a3091b9c055b45c2b4fd13ad52550bc9.jpg" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/80a7eb2340c642f3aa6d38da1233461f.jpg" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/8f80e57f13e14b638c61c2af57802c51.jpg" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/d3b475ff3ae84b839a41cc14718a9c3e.png" alt="">
        </a>
    </div>
    <div class="mui-col-xs-4">
        <a href="#">
            <img src="http://134.175.175.137:80/picture//website/ff80808157ffc1c2015800534d4c00002018/11bbf74c15454b7eaf2e19d99464b2c5.png" alt="">
        </a>
    </div>
</div> -->
